body {
  color: #6a6f74;
  font-family: Roboto;
}

h1 {
  text-align: center;
}

.main-page-list {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #ced4da;
}
